services:
  mongo:
    image: mongo
    volumes:
      - mongo-data:/data/db
  express:
    build: .
    depends_on:
      - mongo
    ports:
      - 3000:3000
volumes:
  mongo-data:
    driver: local