name: Deploy the Backend to Google Cloud Run

on: workflow_call

env:
  JWT_SECRET: ${{secrets.JWT_SECRET}}
  MONGODB_DATABASE_URL: ${{secrets.MONGODB_DATABASE_URL}}
  FRONTEND_URL: ${{secrets.FRONTEND_URL}}


jobs:
  setup-build-publish-deploy:
    name: Build & Deploy
    runs-on: ubuntu-latest

    steps:
    # Clone a copy of the project into the action environment.
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install dependencies
      run: npm install
      working-directory: ./Backend

    - name: Authenticate gcloud
      uses: google-github-actions/auth@v2
      with:
        credentials_json: '${{ secrets.GCP_CREDENTIALS }}'

    - name: configure Docker
      run: gcloud auth configure-docker

    - name: Build Docker image
      run: |
        docker build ./Backend \
          -t gcr.io/${{ secrets.GCR_PROJECT_ID }}/mern-project-backend:latest
   
    - name: Push Docker image to gcr
      run: docker push gcr.io/${{ secrets.GCR_PROJECT_ID }}/mern-project-backend:latest


    - name: Deploy to Cloud Run
      run: |
        gcloud run deploy mern-project-backend \
          --image gcr.io/${{ secrets.GCR_PROJECT_ID }}/mern-project-backend:latest \
          --region ${{ secrets.CLOUD_RUN_REGION }} \
          --platform managed \
          --allow-unauthenticated \
          --set-env-vars NODE_ENV=production \
          --set-env-vars JWT_SECRET=${{ secrets.JWT_SECRET }} \
          --set-env-vars FRONTEND_URL=${{ secrets.FRONTEND_URL }} \
          --set-env-vars MONGODB_DATABASE_URL=${{ secrets.MONGODB_DATABASE_URL }}