name: CI

on: 
  push:
    branches: [ main , master]
  pull_request:
    branches: [ main , master]

env:
  JWT_SECRET: ${{secrets.JWT_SECRET}}
  MONGO_URL: ${{secrets.MONGO_URL}}

jobs:


  run_backend_tests:
    name: Run Backend Tests
    uses: ./.github/workflows/backend_tests.yml
    secrets: inherit

  run_frontend_tests:
    name: Run Frontend Tests
    uses: ./.github/workflows/frontend_tests.yml
    secrets: inherit

  call_cd_backend_workflow:
    name: Call CD Backend Workflow
    needs: [run_backend_tests, run_frontend_tests]
    uses: ./.github/workflows/cd.yml
    secrets: inherit

  call_cd_frontend_workflow:
    name: Call CD Frontend Workflow
    needs: [run_backend_tests, run_frontend_tests, call_cd_backend_workflow]
    uses: ./.github/workflows/deployment.yml
    secrets: inherit