name: CI

on: 
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  JWT_SECRET: ${{secrets.JWT_SECRET}}
  MONGO_URL: ${{secrets.MONGO_URL}}

jobs:

  run_backend_tests:
    name: Run Backend Tests
    uses: ./.github/workflows/backend-tests.yml
    secrets: inherit

  run_frontend_tests:
    name: Run Frontend Tests
    uses: ./.github/workflows/frontend-tests.yml
    secrets: inherit

  call_cd_workflow:
    name: Call CD Workflow
    needs: [run_backend_tests, run_frontend_tests]
    uses: ./.github/workflows/cd.yml
    secrets: inherit