name: CI

on:
  push:
    branches-ignore:
      - main
      - master
  pull_request:
    branches-ignore:
      - main
      - master

jobs:
  run_backend_tests:
    name: Run Backend Tests
    uses: ./.github/workflows/backend_tests.yml

  run_frontend_tests:
    name: Run Frontend Tests
    uses: ./.github/workflows/frontend_tests.yml